No maximum length checks on hosts & domains (or its subparts)

_(Fill in the relevant information below to help triage your issue.)_

|    Q        |   A
|------------ | ------
| Version     | 6.3.0

### Question

I noticed this library (similar to PHP's internal `parse_url`) cares not for maximum lengths of domain names or the sub-parts of those domain names. However, there seems to be pretty solid standards on both the overall length of all parts of the domain (seems to be either 253 or 255 chars) as well as the sub-parts of the domain name (called "labels"), which seems to be 63 chars. 

> "URI producers should use names that conform to the DNS syntax, even when use of DNS is not immediately apparent, and should limit these names to no more than 255 characters in length."
> 
> http://tools.ietf.org/html/rfc3986
> 
> "The DNS itself places only one restriction on the particular labels that can be used to identify resource records. That one restriction relates to the length of the label and the full name. The length of any one label is limited to between 1 and 63 octets. A full domain name is limited to 255 octets (including the separators)."
> 
> http://tools.ietf.org/html/rfc2181

Taken from this stackoverflow answer https://stackoverflow.com/questions/14402407/maximum-length-of-a-domain-name-without-the-http-www-com-parts which nicely sums it up linking to the RFCs in question. 

example running 6.3.0 of this library:

```
>>> $a = League\Uri\Uri::createFromString('http://yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahoooooooooooooo.com');
=> League\Uri\Uri {#2621
     scheme: "http",
     user_info: null,
     host: "yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahoooooooooooooo.com",
     port: null,
     path: "",
     query: null,
     fragment: null,
   }
>>> strlen("yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahoooooooooooooo.com");
=> 580
```

However if we tried to lookup a super long domain name with the `nslookup` utility we can see if refuses to even try a domain with 64 characters (68 including the `.com` part):

```
$ nslookup 'yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahoooooo.com'
nslookup: 'yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahoooooo.com' is not a legal name (unexpected end of input)
```

Delete one "o" making it 63 chars, (67 including `.com`) it allows the attempt:
```
$ nslookup 'yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooo.com'
Server:         xxx.xxx.xxx.xxx
Address:        yyy.yyy.yyy.yyy#53

** server can't find yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooo.com: NXDOMAIN
```

Would **throwing exceptions** in these `too long` cases be something this library is interested in? Or if it best fits outside of this library's purpose do you know of any good "sister" libraries that also take into limits such as these? 

Thank you!

@michaelbutler thanks for using this library. The restriction you are mentioning does not exist in the [host definition section of RFC3986](https://tools.ietf.org/html/rfc3986#section-3.2.2) also states:

>   A host identified by a registered name is a sequence of characters
   **usually intended for lookup within a locally defined host or service
   name registry, though the URI's scheme-specific semantics may require
   that a specific registry (or fixed name table) be used instead.  The
   most common name registry mechanism is the Domain Name System (DNS).**
   A registered name intended for lookup in the DNS uses the syntax
   defined in Section 3.5 of [RFC1034] and Section 2.1 of [RFC1123].

Emphasis are mine. So even though the DNS is the most common semantic it is not the only one thus, this library is not restricted to DNS limitation and does not restrict the host valid expression to only DNS qualified domain name.

If you really need to apply this limitation you **should** also require the `league\uri-components` package. Which will enforces the DNS limitation:

```php
<?php

declare(strict_types=1);

use League\Uri\Components\Domain;
use League\Uri\Uri;

require 'vendor/autoload.php';

$uri = "http://yahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooooooooooooooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahooyahoooooooooooooo.com/";

Domain::createFromUri(Uri::createFromString($uri));
//this will throw a SyntaxError because the URI contains an invalid domain name
```


@nyamsprod Thank you! This makes a lot more sense now. I'll use the `Domain` class.