The trouble to parse hosts with underscores

### System informations
| Information | Description |
|--------------|---------|
| League\Uri version | 5.0 - latest |
| PHP/HHVM version |  7.1.10 |
| OS Platform | 4.13.4-1-ARCH |

## Standalone code, or other way to reproduce the problem

```php
use League\Uri\Http;

  $url = 'https://law_foreign_countries.academic.ru';
  $parsed = Http::createFromString($url);

```
### Actual result

Exception The submitted host `law_foreign_countries.academic.ru` is invalid

### Expected result
regular result

As i see, the trouble come from 

https://github.com/thephpleague/uri-parser/blob/master/src/Parser.php#L400

and also

https://github.com/thephpleague/uri-components/blob/master/src/Components/HostInfoTrait.php#L299

Because subdomains can contains underscores, unlike of registrable domain

@Insolita I believe there are no error in the parser because it follows what the RFC is stating. a Hostname (which is a subset of domain names **can not** contain underscore) see RFC1123 section 2.1.
That being said, some permissive clients allow the usage of such invalid hostnames. This library does not because it would mean trying to fix something which is not broken.



But is real, existed url and it is not unique; We are live in reality, not in standarts.
May be ability to optional skip validation...

@Insolita adding the ability to optionally skip validating some URI components defeat the entire purpose of the library goal, which is to make sure the URI produced by the library are conform to RFC3986/RFC3987 and are interoperable. The offending URI even if it is supported by some client does not meet this basic requirement.

To be clear. "the entire purpose of the library goal" IS NOT to "make sure the URI produced by the library are conform to RFC3986/RFC3987 and are interoperable. " The stated goal of your project is to be a "Modern API to process URI in PHP." Insolita's has the expectation that the library will handle URI's that he/she finds in the wild, comes from that sentence. Insolita's expectation for this functionality is reasonable based on the stated goal of the project. 

One should definitely be able to ensure and even force a URL to conform to RFC3986/RFC3987, and indeed, any url **entirely** generated by your library should be compliant. But if your library does not handle urls that work in all browsers, then your library is broken given its lofty aspirations. 

It is, generally, a bad policy to respond to the problems that your users have with your code with a message that essentially implies that the "problems you are having are wrong", unless you are 1000% sure that the real problem lies outside your code and/or approach.



@ftrotter you are wrong about the goal of this library to begin with since you never care to ask what the goal of the library was.

As for your comment any URL that passed through this library **is entirely** created by the library so this argument is wrong too. Last but not least, I do understand the issue but unless we come up with a reasonable public API that will handle bad URL in a predicable way this issue will stay open. 

Last but not least, @Insolita, you or anyone is free to submit a PR that will be reviewed and merged if the found solution is acceptable but for now this issue will stay open.

@Insolita here's the API I'm proposing. This is based on the fact that not only popular browsers but all command line tools like `cURL` or `wget` seems to supports non-RFC3986 URL. So in order to handle those type of URL I'll make the following proposal I have a local implementation which works but I want a easy to use yet powerful api. 

I'll introduce the following changes in the Uri Parser package

```php
const Parser::RFC3986_PARSER = 1;
const Parser::HTTPCLIENT_PARSER = 2;
public function Parser::__construct(int $flag = self::RFC3986_PARSER): void
public function Parser::getParserType(void): int
function Uri\parse(string $uri, int Parser::RFC3986_PARSER): array
function Uri\is_host(string $host, int Parser::RFC3986_PARSER): bool
```

As well as in the Uri Components package

```php
const Host::RFC3986_PARSER = 1;
const Host::HTTPCLIENT_PARSER = 2;
public function Host::__construct(string|null $host, int $flag = self::RFC3986_PARSER): void
public static function Host::createFromLabels(iterable $labels, int $type = self::IS_RELATIVE, int $flag = self::RFC3986_PARSER): self
public static function Host::createFromIp(string $ip, int $flag = self::RFC3986_PARSER): self
public function Host::getParserType(void): int
public function Host::withParserType(int $flag): self
```

By default and to avoid BC break:

- the Parser is instantiated with the `Parser::RFC3986_PARSER` flag
- the Host is instantiated with the `Host::RFC3986_PARSER` flag

This way the parser or the host either:

- follow RFC3986 
- or HTTP Client *popular* parsing algorithm aka allow underscore anywhere in the host labels

Is this OK for you ?

**Before the changes**

```php
use League\Uri;
use League\Uri\Http;

$url = 'https://law_foreign_countries.academic.ru';
$parsed = Http::createFromString($url);   //will throw
$parsed = Http::createFromComponent(Uri\parse($url)); //will throw
```

**After the changes**

```php
use League\Uri;
use League\Uri\Http;

$url = 'https://law_foreign_countries.academic.ru';
$parsed = Http::createFromString($url);   //will work
$parsed = Http::createFromComponent(Uri\parse($url)); //will throw
```

**Things to discuss :**

- The constants names can be changed or improved if you have better names I'm open to suggestions.
- If you have better ideas I'm also open to it





> Hostname (which is a subset of domain names can not contain underscore)

This statement is incorrect. A hostname is (mostly) physical name associated with a machine. The **domain name** portion of a URL is not, strictly speaking, a hostname. This is due to the fact that DNS records **will always** be used to map the domain name to a hostname (or IP).

As such, validating the *domain name* portion of a URL as a *host name* is incorrect. Thus, the validation for a domain name is much more relaxed than that of a host name.

Some references regarding DNS labels vs host names: [RFC1034](https://tools.ietf.org/html/rfc1034), [RFC2181§11](https://tools.ietf.org/html/rfc2181#section-11)

@nyamsprod thanks, i will be glad to any working fix. This reply was started before than i saw your answer

>   I thought about it and  see different ways for solve this situation - in first, is create parameter for validation strictness with strong statement as default, and separate the set of chars to RFC-valid and real-possible, which should be applied accordingly configured strictness and this variant seems the most easy for realization, others are ability to override validation with custom callback or ability to substitue implementation of Host Component with custom. 

And your proposal is near with my thought


Further reading, specifically within RFC3986:

- [RFC3986 § 3.2.2](https://tools.ietf.org/html/rfc3986#section-3.2.2) states that the "host" portion of a URL (when it is not an IP address) is `reg-name = *( unreserved / pct-encoded / sub-delims )`
- [RFC3986 § 2.3](https://tools.ietf.org/html/rfc3986#section-2.3) states that "unreserved" is `unreserved  = ALPHA / DIGIT / "-" / "." / "_" / "~"`

@shadowhand @Insolita thanks for the feedback, I'll update the parser accordingly so the whole addition is not necessary let's conform to RFC3986 then and add the missing pieces I'll create a PR with the updated parser

@shadowhand @Insolita fixes have landed on 
- https://github.com/thephpleague/uri-parser/ master branch
- https://github.com/thephpleague/uri-components/ master branch

Once thier respective patch release are available, all URI packages will be bug fixed. Hopefully this will be done this week when I have time

[URI parser 1.3.0 is released](https://github.com/thephpleague/uri-parser/releases/tag/1.3.0)
[URI components 1.5.0 is released](https://github.com/thephpleague/uri-components/releases/tag/1.5.0)
